{% extends 'layout/layout.html.twig' %}

{% block menusidebar %}
    {{ parent() }}
    <li><a href="{{ url('invoice_quotations_list') }}">Retour à la liste</a></li>
{% endblock %}

{% block main %}
    <h1 class="page-header">Nouveau devis</h1>
    {{ form(form, { 'style': 'horizontal'}) }}
{% endblock %}
