{% extends 'layout/layout.html.twig' %}

{% block menusidebar %}
    {{ parent() }}
    <li><a href="{{ url('customers_list') }}">Retour à la liste</a></li>
{% endblock %}

{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading"><h1>Nouveau client</h1></div>
        <div class="panel-body">
            {{ form(form, { 'style': 'horizontal' }) }}
        </div>
    </div>
{% endblock %}
