<tr>
    <td><span data-action="remove-item"  class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
    <td>{{ form_widget(form.name) }}</td>
    <td>{{ form_widget(form.quantity) }}</td>
    <td>{{ form_widget(form.price) }}</td>
    <td>{{ form_widget(form.total) }}</td>
</tr>