<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Entreprise</title>

    {% block stylesheets %}
        {% stylesheets
            '%kernel.root_dir%/../vendor/twbs/bootstrap/less/bootstrap.less'
            '%kernel.root_dir%/Resources/less/main.less'
            '@AamantUserBundle/Resources/public/less/user.less'
            filter='less,cssrewrite'
            output='css/compiled/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <!-- Fonts -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% block nav %}{% endblock nav %}

{% block before_body %}{% endblock before_body %}

{% block body %}{% endblock body %}

{% block after_body %}{% endblock after_body %}

<!-- Scripts -->
{% block javascripts %}
    {% javascripts
    '%kernel.root_dir%/../vendor/jquery/jquery/jquery-1.11.1.js'
    '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/js/bootstrap.min.js'
    '@AamantInvoiceBundle/Resources/script/*.js'
    output='js/compiled/main.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
{% endblock %}
{% block script %}{% endblock %}
</body>
</html>
