<tr>
    <td><span class="glyphicon glyphicon-remove" aria-hidden="true" onclick="remove_item(this);"></span></td>
    <td>{{ form_widget(form.name) }}</td>
    <td>{{ form_widget(form.quantity) }}</td>
    <td>{{ form_widget(form.price) }}</td>
    <td>{{ form_widget(form.total) }}</td>
</tr>