{% extends 'layout/layout.html.twig' %}

{% block main -%}
    <div class="panel panel-default">
        <div class="panel-heading"><h1>Tax edit</h1></div>
        <div class="panel-body">
            {{ form(edit_form) }}
        </div>
    </div>
{% endblock %}
