{% extends 'layout/layout.html.twig' %}

{% block main -%}
    <div class="panel panel-default">
        <div class="panel-heading"><h1>Nouvelle cotisation</h1></div>
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block menusidebar %}
<li>
    <a href="{{ path('tax') }}">Retour à la liste</a>
</li>
{% endblock %}